@media screen and (max-width: 768px) {
	header{
		#logmenu{
		
			#logo{
				position: static;
			}
			nav {
			
			height: 60%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			
			
		 
			a {text-decoration: none;
			color: #ffac00;
			font-size: 2.3vw;
			left: 0px;
			transition: none;
			border-radius: 0;
			
			
			
			#icon, #icon1, #icon2, #icon3{
				display: none;
			}
			
			
			}
			
			#home, #about, #gallery, #image, #contacts {
				background-color: transparent;
				&:hover{
				background-color: rgba(218, 223, 225, 0.2);
			}
			}
			
			}
			
		}
		hgroup{
			background-color: rgba(250,250,250,0.2);
			width: 100%;
			margin-top: 55%;
			padding-left: 13%;
			
			h1{
				font-size: 30px;
			}
			
			h3{
				font-size: 15px;
			}
			
		}
	}
	
	main{
		section{
		
		width: 75%;
			article{
				#pht {
					display: none;
				}
				h1{
					font-size: 2.5vw;
				}
				
				#pht1 {
					display: inline;
				}
				
				p{
					font-size: 1.6vw;
				}
			}
		}
	}
}
footer {
	.foot{
		margin-left: 5%;
		
		h2{
			font-size: 2.2vw;
		}
		
		a, p{
			font-size: 1.8vw;
		}
	}
}

@media screen and (max-width: 480px) {
	header{
		#logmenu{
			float: right;
			margin-right: 7%;
			
			nav{
				#image {
					display: inline;
				}
				#photos {
					display: none;
				}
			}
		}
		
		hgroup{
			float: left;
			margin-top: 75%;
		}
	}
	main{
		section{
			#hidephone{
				display: none;
			}
				article{
					p{
						font-size: 2vw;
					}
					h1{
						font-size: 3vw;
					}
					#hide {
						display: inline;
					}
					#showphone{
						display: flex;
						justify-content: space-around;
						.slide{
							display: none;
						}
						#left,#right{
							width: 10%;
							background-color: #141510;
							cursor: pointer;
							border: none;
							color: white;
							border-radius: 5px;
							font-size: 5vw;
							
							&:hover{
								border: 1px solid #ffac00;
							}
						}
					}
					
					#message {
						input[type=text], input[type=email] {
							height: 25px;
							font-size: 1.8vw;
						} 
						textarea{
							font-size: 2vw;
							width: 97%;
						}
						button {
							font-size: 2.3vw;
						}
					}
				}
			
		}
	}
}