@media screen and (max-width: 992px) {
  header {
    display: flex; }
    header hgroup {
      margin-top: 52%;
      width: 100%;
      align-self: flex-end; }

  main section #hidephone #pht {
    display: none; }
  main section article {
    border-left: 1px solid #ffac00;
    border-right: 1px solid #ffac00;
    border-radius: 5px; } }
@media screen and (max-width: 767px) {
  header {
    display: block; }
    header #logmenu #logo {
      position: static; }
    header #logmenu nav {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header #logmenu nav a {
        text-decoration: none;
        color: #ffac00;
        font-size: 2.3vw;
        left: 0px;
        transition: none;
        border-radius: 0; }
        header #logmenu nav a #icon, header #logmenu nav a #icon1, header #logmenu nav a #icon2, header #logmenu nav a #icon3 {
          display: none; }
      header #logmenu nav #home, header #logmenu nav #about, header #logmenu nav #gallery, header #logmenu nav #image, header #logmenu nav #contacts {
        background-color: transparent; }
        header #logmenu nav #home:hover, header #logmenu nav #about:hover, header #logmenu nav #gallery:hover, header #logmenu nav #image:hover, header #logmenu nav #contacts:hover {
          background-color: rgba(218, 223, 225, 0.2); }
    header hgroup {
      background-color: rgba(250, 250, 250, 0.2);
      width: 100%;
      margin-top: 55%;
      padding-left: 13%; }
      header hgroup h1 {
        font-size: 30px; }
      header hgroup h3 {
        font-size: 15px; }

  main section {
    width: 75%; }
    main section article {
      border: none; }
      main section article #pht {
        display: none; }
      main section article h1 {
        font-size: 2.5vw; }
      main section article #pht1 {
        display: inline; }
      main section article p {
        font-size: 1.6vw; } }
footer .foot {
  margin-left: 5%; }
  footer .foot h2 {
    font-size: 1.8vw; }
  footer .foot a, footer .foot p {
    font-size: 1.7vw; }

@media screen and (max-width: 650px) {
  header hgroup {
    margin-top: 70%; }
  header #logmenu nav a {
    font-size: 2.5vw; }

  main section #hidephone figure .hide650 {
    display: none; }
  main section article p {
    font-size: 2vw; }
  main section article #message input[type=text], main section article #message input[type=email] {
    width: 45%; }

  footer .foot a, footer .foot p {
    font-size: 2.3vw; }
  footer .foot h2 {
    font-size: 2.8vw; } }
@media screen and (max-width: 480px) {
  header {
    background-image: url(../photos/slider1.jpg); }
    header #logmenu {
      float: right;
      margin-right: 9%;
      width: 18%; }
      header #logmenu nav {
        margin-left: 9%; }
        header #logmenu nav #image {
          display: inline; }
        header #logmenu nav #photos {
          display: none; }
        header #logmenu nav a {
          font-size: 4vw;
          float: right;
          padding-left: 0; }
      header #logmenu #logo {
        display: none; }
      header #logmenu #logo1 {
        display: inline-block;
        margin-left: 5px; }
    header hgroup {
      float: left;
      margin-top: 98%;
      padding-left: 2%; }

  main {
    justify-content: initial;
    padding-left: 2%; }
    main section {
      width: 75%; }
      main section #hidephone {
        display: none; }
      main section article #hidefromphone {
        display: none; }
      main section article #showforphone {
        display: inline-block; }
      main section article p {
        font-size: 3.5vw; }
      main section article h1 {
        font-size: 4.3vw; }
      main section article #hide {
        display: inline; }
      main section article #showphone {
        display: flex;
        justify-content: space-around; }
        main section article #showphone .slide {
          display: none; }
        main section article #showphone #left, main section article #showphone #right {
          width: 10%;
          background-color: #141510;
          cursor: pointer;
          border: none;
          color: white;
          border-radius: 5px;
          font-size: 5vw; }
          main section article #showphone #left:hover, main section article #showphone #right:hover {
            border: 1px solid #ffac00; }
      main section article #message input[type=text], main section article #message input[type=email] {
        height: 35px;
        font-size: 3.8vw;
        width: 97%;
        padding-left: 1%;
        margin-top: 15px; }
      main section article #message textarea {
        font-size: 3.8vw;
        width: 97%;
        padding-left: 1%; }
      main section article #message button {
        font-size: 3.5vw;
        width: 18%; }

  footer {
    text-align: justify;
    flex-direction: column; }
    footer .foot {
      flex-direction: row;
      margin-left: 0;
      margin-right: 15%; }
      footer .foot a, footer .foot p {
        font-size: 2.8vw; }
      footer .foot h2 {
        font-size: 3.2vw; }
      footer .foot .hide480 {
        display: none; } }

/*# sourceMappingURL=responsive.css.map */
