*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.cleaner {
	clear: both;
}

html{
	scroll-behavior: smooth;
}
header {
	 width: 100%;
	 min-height: 620px;
	 background-image: url(../photos/slider.jpg);
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: right center;
	 display: flex;
	 
	 #logmenu {
		width: 10%;
		height: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		float: left;
		border-radius: 5px;
		font-family: 'Oswald', sans-serif;
	 
		 #logo {
			margin: 0.2%;
			position: fixed;
			}
		
		#logo1{
			display: none;
		}
		
		 nav{
		 
			position: fixed;
				a{
					position: absolute;
					left: -60px;
					transition: 0.3s;
					padding: 15px;
					width: 100px;
					border-radius: 0 5px 5px 0;
					color: white;
					text-decoration: none;
					
					#icon, #icon1, #icon2, #icon3{
						display: inline;
						margin-left: 12px;
						}
					
					&:hover{
						left: 0px;
					}
					 
					
				}
					#home {
					  top: 200px;
					  background-color: #ffac00;
					}

					#about {
					  top: 270px;
					  background-color: #ffac00;
					}

					#gallery, #image {
					  top: 340px;
					  background-color: #ffac00;
					}

					#contacts {
					  top: 410px;
					  background-color: #ffac00;
					}
					#image{
						display: none;
					}
				}
	 }
	 
	 hgroup{
		width: 80%;
		height: 19%;
		float: right;
		font-family: 'Petit Formal Script', cursive;
		align-self: flex-end;
	 }
	 
	 h1{
		color: white;
		font-size: 60px;
	 }
	 
	 h3{
		color: white;
		font-size: 25px;
	 }
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #141510;
	font-family: 'Open Sans', sans-serif;
	
	
	section {
	
		width: 70%;
		
		article{
		
			margin-top: 35px;
		
			h1{
				font-size: 2.3vw;
				margin-bottom: 5%;
				width: 100%;
				background-color: #ffac00;
				border-radius: 5px;
			}
			
			#pht1 {
				display: none;
			}
			
			#showforphone{
				display: none;
			}
			
			img{
				margin-top: 10px;
				border-radius: 5px;
				margin-right: 5px;
			}
			
			p {
			font-size: 1.4vw;
			margin-top: 10px;
			color: white;
			}
			
			#showphone{
				display: none;
			}
			
			#hide{
				display: none;
			}
			
			#message {
			
			
			input[type=text], input[type=email] {
				width: 46%;
				background-color: #141510;
				padding: 0.5%;
				margin-left: 1%;
				color: white;
				font-size: 1.5vw;
				border: 1px solid #ffac00;
				border-radius: 5px;
				margin-right: 10px;
			}
			
			textarea {
				width: 96%;
				margin-top: 15px;
				border: 1px solid #ffac00;
				border-radius: 5px;
				background-color: #141510;
				color: white;
				font-size: 1.5vw;
				padding: 0.5%;
			}
			
			button{
				width: 15%;
				height: 45px;
				margin-top: 15px;
				background-color: #ffac00;
				border: 1px solid black;
				border-radius: 5px;
				color: black;
				font-size: 1.5vw;
				cursor: pointer;
				margin-bottom: 20px;
				
				&:hover{
					background-color: white;
					border: 1px solid #ffac00;
				}
			}
			
			}
		}
		
	}
}

footer{
	width: 100%;
	height: 250px;
	background-color: black;
	display: flex;
	justify-content: space-around;
	text-align: center;
	
	.foot {
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		
		h2{
			font-size: 2vw;
		}
		
		a {
			text-decoration: none;
			color: white;
			font-size: 1.5vw;
			
			&:hover {
				text-decoration: underline;
			}
			}
			
		p {
			font-size: 1.5vw;
		}
	}
}

